body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 2px solid black;
  width: 40vw;
  height: 50vw;
  /* border-radius: 10%; */
  background-color: darkgray;
  display: grid;
  font-size: 5vw;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(150px, auto) repeat(5, 1fr);
  grid-template-areas:
    "textArea textArea"
    "acAndDlt operators"
    "numbers operators"
    "numbers operators"
    "numbers operators"
    "numbers operators";
}

.textareaContainer {
  grid-area: textArea;
  background-color: rgb(14, 40, 160);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
}
.textareaContainer .displayBottom {
  color: aliceblue;
  font-size: 1em;
}
.textareaContainer .displayTop {
  color: rgba(225, 225, 225, 0.846);
  font-size: 0.75em;
}

.operatorsContainer {
  grid-area: operators;
}
.acAndDltContainer {
  grid-area: acAndDlt;
  /* height: 80%; */
}
.numbersContainer {
  flex-flow: column-reverse;
  grid-area: numbers;
  display: flex;
}
li {
  background-color: rgb(5, 113, 221);
  list-style-type: none;
  width: 100%;
  height: 100%;
}
li:hover {
  background-color: rgb(138, 228, 250);
}
.operators {
  flex-flow: column;
}
ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
